a:hover {
    color: yellow;
}
h1 {
    background-color: darkolivegreen;
    color: white;
    width: fit-content;
}
.info{
    width: max-content;
    height: fit-content;
    padding: 20px;
    background-color: darkolivegreen;
    margin: 10px;
    color: white;
    font-style: normal;
    vertical-align:middle;
}
img{
    width: 500px;
    object-fit: contain;
}
#aka {
    color: lightslategray;
    font-style: italic;
}
.member{
    /* font-style: oblique; */
    display: inline-flex;
}
