a:hover {
    color: yellow;
}
h1 {
    background-color: aqua;
}
#aka {
    font-style: italic;
    color: lightpink;
}
.info{
    width: max-content;
    border: 5px solid darkolivegreen;
    margin: 10px;
}