a:hover {
    color: yellow;
}
h1 {
    background-color: darkolivegreen;
    color: white;
    width: fit-content;
    padding-left: 20px;
    padding-right: 20px;
}
.info{
    width: max-content;
    height: fit-content;
    padding: 20px;
    color: darkolivegreen;
    margin: 30px;
    /* color: white; */
    font-style: normal;
    font-size: large;
    align-self: center;
}
img{
    width: 45%;
    object-fit: contain;
}
#aka {
    color: lightslategray;
    font-style: italic;
}
.member{
    /* font-style: oblique; */
    display: inline-flex;
    height: 150px;
    padding: 15px;
}
